extends layout

block content
    div(class='container-fluid')
        div(class='row-fluid')
            div(class='span9')
                div(class='hero-unit', style='padding:0;')
                    h3 #{msg}
