extends report_graph_layout

block content
    p(class='text-success') Table 1. List of V4b:
    table(class='table table-bordered table-hover')
        thead
            tr
                td Project
                td Version
                td Reason
        tbody
